.add-comment {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-top: 10px;
}

.comment-container {
  margin: 0 auto;
  display: flex;
  width: 400px;
  flex-flow: column;
}

.comment-add-container {
  margin: 10px auto;
}

.messageboard-logo {
  font-family: 'Press Start 2P', cursive;
  margin: 20px 0 30px 46px;
}

.comment-form {
  width: 356px;
}

.comments {
  margin: 15px 30px 0 70px;
}

.comment-type {
  margin: 0 0 10px 19px;
  height: 80px;
  width: 350px;
  background-color: #fffafa;
  padding: 0;
}

.comment-submit {
  background-color: #00914c;
  color: white;
  margin: 0 0 10px 310px;
  border-radius: 40px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .messageboard-logo {
    margin-left: 270px;
    width: 800px;
  }

  .add-comment {
    font-size: 18px;
    margin-left: 170px;
  }

  .comments {
    width: 800px;
    margin-left: 200px;
  }

  .comment-type {
    height: 200px;
    width: 550px;
    margin-left: 200px;
  }

  .comment-submit {
    margin-left: 695px;
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .comment-type {
    background-color: #cbcdcf;
    border: solid #a2dff6;
  }
}
