footer {
  position: relative;
  bottom: 0;
  text-align: center;
  margin: 20px 150px 10px 150px;
}

.footer-p {
  text-align: center;
  color: black;
  font-size: 10px;
  background-color: #cbcdcf;
  margin: 0px;
  font-family: 'Press Start 2P', cursive;
}

.footer-img img {
  height: 40px;
  width: 40px;
  margin: 10px 5px 10px 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer {
    width: 800px;
    margin: 100px 70px 10px 70px;
  }

  p.footer-p {
    background-color: #64579c;
    font-size: 20px;
    width: 800px;
  }

  .footer-img img {
    height: 50px;
    width: 50px;
  }
}
