footer {
  font-family: 'Press Start 2P', cursive;
  bottom: 0;
  text-align: center;
  margin: 50px 150px 20px 150px;
}

.footer-p {
  text-align: center;
  color: black;
  font-size: 10px;
  margin: 0px;
}

.footer-img img {
  height: 40px;
  width: 40px;
  margin: 10px 5px 10px 5px;
}
