.game-container {
  width: 250px;
  padding: 50px;
  height: 450px;
  margin: 20px auto;
  border: solid black;
  text-align: center;
  background-color: #fffafa;
}

.game-card {
  background-color: #fffafa;
}

.card-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
  background-color: #fffafa;
}

.card-delete {
  background-color: #dd0116;
  color: white;
  border-radius: 40px;
  font-size: 16px;
  margin: 10px 0px 30px 40px;
}

.card-edit {
  background-color: #f9be00;
  color: white;
  border-radius: 40px;
  width: 70px;
  font-size: 16px;
  margin: 10px 40px 30px 0px;
}

.card-buttons {
  background-color: #fffafa;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .game-container {
    width: 450px;
    height: 90vh;
    margin: 50px 175px 30px 190px;
  }

  .card-img {
    height: 450px;
    width: 450px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .game-card {
    background-color: #cbcdcf;
  }

  .game-container p {
    background-color: #cbcdcf;
  }
  .game-container {
    background-color: #cbcdcf;
  }
  .card-img {
    background-color: #cbcdcf;
  }
  .card-buttons {
    background-color: #cbcdcf;
  }

  .game-container {
    border: solid #a2dff6;
  }
}
