.game-container {
  width: 250px;
  padding: 50px;
  height: 400px;
  margin: 0 auto;
  border: solid black;
  text-align: center;
}

.card-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.card-delete {
  background-color: #dd0116;
  color: white;
}

.card-edit {
  background-color: #f9be00;
  color: white;
}
