.edit-form-container {
  width: 320px;
  height: 520px;
  padding: 10px 15px 25px;
  margin: 20px auto;
  background-color: #fffafa;
  border: solid black;
  text-align: center;
}

.edit-form-container h4 {
  margin: 10px 0 16px 5px;
  padding: 0;
  background-color: #fffafa;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
}

.edit-form {
  display: flex;
  flex-flow: column;
  background-color: #fffafa;
  align-items: flex-start;
  margin-left: 30px;
}

.edit-label {
  background-color: #fffafa;
}

.edit-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
  margin-bottom: 16px;
  background-color: #fffafa;
}

.img-url-edit {
  margin: 0px 0px 16px 10px;
}

.rating-edit {
  margin: 0px 0px 16px 40px;
}

.title-edit {
  margin: 0px 0px 16px 49px;
}

.yr-edit {
  margin: 0px 0px 16px 59px;
}

.genre-edit {
  margin: 0px 0px 16px 50px;
}

.edit-submit {
  margin: 0px auto 0 90px;
  font-size: 16px;
  border-radius: 40px;
  background-color: #00914c;
  color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .edit-form-container {
    width: 450px;
    height: 90vh;
    margin: 50px 175px 30px 190px;
  }

  .edit-img {
    height: 450px;
    width: 450px;
  }

  .edit-label {
    font-size: 18px;
  }

  .edit-submit {
    font-size: 18px;
    margin-left: 140px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .edit-form-container {
    background-color: #cbcdcf;
    border: solid #a2dff6;
  }

  .edit-form-container h4 {
    background-color: #cbcdcf;
  }

  .edit-form {
    background-color: #cbcdcf;
  }

  .edit-label {
    background-color: #cbcdcf;
  }

  .edit-img {
    background-color: #cbcdcf;
  }
}
