.my-games-title {
  font-family: 'Press Start 2P', cursive;
}

.sorry-text {
  font-family: 'Press Start 2P', cursive;
}

.games-edit-button {
  background-color: #f9be00;
  color: white;
}

.games-cancel-button {
  background-color: #f9be00;
  color: white;
}
.games-delete-button {
  background-color: #dd0116;
  color: white;
}
