.app-body {
  height: 100vh;
}

.arcade-button {
  background-color: #1f53b8;
  color: white;
  margin: 0 100px 0 15px;
  border-radius: 40px;
  width: 75px;
}

.mygames-button {
  background-color: #1f53b8;
  color: white;
  border-radius: 40px;
  margin: 0 0 0 103px;
}

.top-buttons {
  width: 385px;
  margin: 0 auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .top-buttons {
    width: 812px;
    margin: 0 auto;
  }

  .mygames-button {
    margin: 0 0 0 150px;
    font-size: 20px;
  }

  .arcade-button {
    margin: 0 160px 0 177px;
    width: 120px;
    font-size: 20px;
  }
}
