label {
  font-family: 'Roboto Mono', monospace;
}

.register-container {
  width: 650px;
  margin: 45px auto 100px auto;
}

.register-form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 30px 0 0 0;
}

.app-description {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background-color: #cbcdcf;
  font-size: 14px;
  margin: 0 20px 20px 20px;
}

.register-logo {
  font-family: 'Press Start 2P', cursive;
  margin: 60px 0px 30px 50px;
}

.register-label {
  font-size: 18px;
  margin: 0 0 16px 93px;
}

.email-input {
  margin: 0 0 0 92px;
}

.register-input {
  margin: 0 0 0 60px;
}

.register-button {
  background-color: #00914c;
  color: white;
  border-radius: 40px;
  font-size: 16px;
  height: 30px;
  width: 104px;
  margin: 30px 0 0 270px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .app-description {
    width: 800px;
    font-size: 18px;
    background-color: #64579c;
    margin: 0 70px 0 70px;
  }

  .register-form {
    margin-left: 180px;
  }
  .register-label {
    font: 18px;
  }
  h2 {
    font-size: 30px;
  }
  .register-button {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .register-input {
    background-color: #cbcdcf;
  }
  .email-input {
    background-color: #cbcdcf;
  }

  .app-description {
    background-color: #fffafa;
  }
}
